@import url("https://fonts.googleapis.com/css?family=Poppins:400,400italic,700,700italic%7CSource+Code+Pro:400"); 

html, body, [class*="css"] {
    font-family: 'Poppins', sans-serif; 
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}